body {
  font-family: "Poppins", sans-serif;
}

@media (min-width: 600px) {
  .container {
    width: 600px;
  }
}

.ratings-row .ratings-number {
  width: 20px;
}

.ratings-row .progress {
  height: 10px;
  width: 100%;
}
